@function color($palette, $color-name, $color-variant:null){
    @if($color-variant != null){
        @return map-get(map-get($palette, $color-name), $color-variant);
    }@else{
        @return map-get($palette, $color-name);
    }
}

$default:(
    background: #fffffa,
    font: #262626,
    primary: #192a51,
    success: #79b473,
    warning: #f5cb5c,
    error: #912f40,
);
$defaultPalette: (
    background: (
        base: map-get($default, background),
        light: lighten(map-get($default, background), 15%),
        dark: darken(map-get($default, background), 15%),
        transparent: transparentize(map-get($default, background), 0.5),
    ),
    font: (
        base: map-get($default, font),
        light: lighten(map-get($default, font), 15%),
        dark: darken(map-get($default, font), 15%),
        transparent: transparentize(map-get($default, font), 0.5),
    ),
    primary: (
        base: map-get($default, primary),
        light: lighten(map-get($default, primary), 15%),
        dark: darken(map-get($default, primary), 15%),
        transparent: transparentize(map-get($default, primary), 0.5),
    ),
    success: (
        base: map-get($default, success),
        light: lighten(map-get($default, success), 15%),
        dark: darken(map-get($default, success), 15%),
        transparent: transparentize(map-get($default, success), 0.5),
    ),
    warning: (
        base: map-get($default, warning),
        dark: darken(map-get($default, warning), 15%),
        transparent: transparentize(map-get($default, warning), 0.5),
    ),
    error: (
        base: map-get($default, error),
        light: lighten(map-get($default, error), 15%),
        dark: darken(map-get($default, error), 15%),
        transparent: transparentize(map-get($default, error), 0.5),
    ),
);