$baseFontFamily: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto;
$monoFontFamily: "SF Mono", "Segoe UI Mono", "Roboto Mono", Menlo, Courier, monospace;
$fallbackFontFamily: "Helvetica Neue", sans-serif;
$bodyFontFamily: $baseFontFamily, $fallbackFontFamily;
$baseFontSize: 20px;
$bodyFontSize: .8rem;